<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    {{#userInfo}}
    <h1>Welcome Back, {{firstName}}</h1>
    {{/userInfo}}
    <h1>there should be something</h1>
    <form action="logout" method="post">
      <button>Logout</button>
    </form>
  </body>
</html>
