<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>Login</h2>
    {{#errors}}
      <p>{{msg}}</p>
    {{/errors}}
    <form action="/login/auth" method="post">
      <label for="username">Username:  </label>
      <input type="text" name="username" value="{{loginInfo.username}}" /><br />

      <label for="password">Password:  </label>
      <input type="password" name="password" value="" /><br />

      <button>Login</button>
    </form>

    <p>Don't have an account?  <a href="/signup">Sign up</a></p>

  </body>
</html>
